body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input {
    border-radius: 6px;
    font-size: 24px;
    border: 1px solid rgb(218, 218, 218);
    width: 90%;
    margin: 8px auto;
    padding: 4px 4px ;
    text-align: center;
    transition: border 0.1s ease-in-out;
}

input:focus {
    border: 1px solid rgb(139, 139, 139);
    outline: none;
}

h1 {
    color : rgb(80, 80, 80);
    margin: 10px auto;
    transition : all 0.2s ease-in-out
}


