html,body {
    height: 100%;
}

body:before{
    display: block;
    background: 100% 100% rgba(10, 10, 10, 1);
}

body {
    display: block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin : 0;
    /* background: url('./assets/background-canvas.png') no-repeat rgba(255, 255, 255, 0.01); */
    background: url('./assets/background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    animation: mist 600s infinite linear;
    background-repeat: round;
}

h1 {
    color: rgb(150, 150, 150);
    margin: 10px auto;
    transition : all 0.2s ease-in-out
}

.app-container {
    height: 100%;
}

@keyframes mist {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100vw 0;
    }
}
