.plansitem-container{
    display: flex;
    flex-direction: row;
    background-color: rgba(130, 130, 130, 0.3);
    height: 30px;
    border-radius: 3px;
    justify-content: space-between;
    align-items: center;
    color: rgb(150, 150, 150);
    transition: color 0.4s ease-in-out;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}
.info-container{
    width: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5px; 
}

.plansitem-title{
    width: auto;
}

.plansitem-button-box{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 24%;
    justify-content: center;
}

.plansitem-button-box button{
    text-transform: uppercase;
    width: 50%;
    height: 100%;
    margin: 0;
    border: rgb(120, 120, 120);
    background-color: rgba( 120, 120, 120, 0.3);
    color: rgb(150, 150, 150);
    font-size: 17px;
    text-align: center;
}

.plansitem-button-box button:hover{
    background-color: rgba(140, 140, 140, 0.3);
    border: 1px solid rgba(218, 218, 218, 0.9);
    outline: none;
}