.notes-header {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    color: rgb(160, 150, 150);
    margin-bottom: 10px;
    background-color: rgba(130, 130, 130, 0.1);
    justify-content: space-between;
}

.notes-header p{
    justify-self: center;
    text-transform: uppercase;
    margin: 10px;
}

.notes-header button{ 
    font-size: inherit;
    position: relative;
    right: 0px;
    margin: 0 1px;
    border: none;
    width: 80px;
    height: 40px;
    background-color: rgba(130, 130, 130, 0.1);
    color:inherit;
    text-transform: inherit;
    transition: color 0.4s ease-in-out;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
    text-transform: uppercase;
}

.notes-header button:hover{
    background-color: rgba(130, 130, 130, 0.3);
    border: 1px solid rgba(218, 218, 218, 0.9);
    outline: none;
}

