.starmap-container input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background: #ddd;
    outline: none;
}

.starmap-modal-label{
    display: inline;
    text-align: left;
    justify-content: start;
}

.starmap-modal-input-box{
    margin: 5px 0px
}

.input-range:hover .input-range{
    background-color: rgba(130,130,130,0.1);    
} 