.notes-item{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: rgba(130, 130, 130, 0.2);
    padding: 5px;
    border-radius: 3px;
    margin: 0px 5px;
}
.notes-item-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-self: end; 
}
.notes-item-footer p{
    margin: 0px;
    text-align: center;
    align-items: center;
    line-height: 21px;
}
.notes-item-title{
    font-size: 17px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.notes-item-button-box{
    display: flex;
    flex-direction: row;
}
.notes-item-button-box svg{
    fill: rgba(130, 130, 130, 0.4);
    stroke: rgb(130, 130, 130);
    width: 17px;
    height: 17px;
    margin: auto;
}
.notes-item-button-box button {
    background-color: rgba(0,0,0,0);
    margin: 0px;
    padding: 0px;
    border: none;
    width: 21px;
    height: 21px;
    display: flex;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0);
}
.notes-item-button-box button:hover{
    background-color: rgba(130, 130, 130, 0.3);
    border: 1px solid rgba(218, 218, 218, 0.4);
    outline: none;
}
.notes-item-delete:hover svg{
    fill: rgba(250 , 10, 10, 0.1);
}
.notes-item-edit:hover svg{
    fill: rgb(10, 255, 10);
}
.notes-item-content{
    font-size: 17px;
    height: 80%;
}

.notes-item-date{
    font-size: 12px;
}